* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Ramabhadra', sans-serif;
 }

#header {
    padding: 0.5rem;
    margin-bottom: 1rem;
    text-align: center;
    background-color: rgb(236, 242, 243);
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row wrap; 
    box-shadow: 0.4vw 0.4vw #E3F0F0;
}
#header-name {
    display: flex;
    text-align: center;
    flex-flow: row-reverse;
    color:#038ff4; 
}

#nav-bar-a {
    text-decoration: none;
    color: black;
    padding: 14px 20px;
    margin-right: 5rem;
    
}
#nav-bar a.icon {
    display: none;
}

.icon {
    color:#253b4d;
}


/* #allPosts {
    display:flex;
    flex-direction: column;
    align-items:flex-start;
} */
.comments{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left: 2vw;
    border: 0.20vw solid lightblue;
    box-shadow: 0.4vw 0.4vw #E3F0F0;
    padding: 5vw;
}
.entryWithComment{
    display:flex;
    align-items:center;

}
.blogEntries {
    font-size: 1vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    border: 0.25vw solid lightblue;
    box-shadow: 0.5vw 0.5vw #E3F0F0;
    width:30vw;
    margin-bottom: 2vw;
    margin-left: 5vw;


}

.adminBtns {
    display:flex;
    flex-direction: column;
    
}

#welcomeMessage{
   display:flex;
   justify-content: center;
}

/* Footer CSS starts here */
#footer-container {
    height: 20rem;
    width: auto;
    background-color: #253b4d;
    margin-top: 27.5rem;

}
#footer-headline {
    color:#038ff4; 
}
.info-company {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    color: #b7b7b7;
    line-height: 1.5;
    border-top: 1px solid #455867;
    border-bottom: 1px solid #455867;

}


/* Media queries start here */
@media screen and (max-width: 600px) { 

    #nav-bar {
        overflow: hidden;
        position: relative;
    }
    
    #nav-bar a {
        display: none;
        color: white; 
        padding: 14px 16px; 
        display: block; 
    }

    #nav-bar a.icon {
        background: #253b4d; 
        display: block;
        position: absolute;  
        top: 0;  
    }
    #nav-bar a:hover {
        background-color: #ddd;
        color: black; 
    }
    .icon {
        color: white;
        display: none; 
          
    }
    .container {
        max-width: 480px;
        margin: auto;
        background-color: #555;
        height: 200px;
        color: white;
        border-radius: 10px;
      }
      

   







}