
/* #allPosts {
    display:flex;
    flex-direction: column;
    align-items:flex-start;
} */
.comments{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left: 2vw;
    border: 0.20vw solid lightblue;
    box-shadow: 0.4vw 0.4vw #E3F0F0;
    padding: 5vw;
}
.entryWithComment{
    display:flex;
    align-items:center;

}
.blogEntries {
    font-size: 1vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    border: 0.25vw solid lightblue;
    box-shadow: 0.5vw 0.5vw #E3F0F0;
    width:30vw;
    margin-bottom: 2vw;
    margin-left: 5vw;


}

.adminBtns {
    display:flex;
    flex-direction: column;
    
}

#welcomeMessage{
   display:flex;
   justify-content: center;
}